*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    color: #555555;
    background-color: #ccccae;
}
table{
    border-collapse: collapse;
}
.table1{
    margin: 10px auto;
    border-collapse: collapse;
    width: 750px;
}
.header{
    width: 750px;
    height: 201px;
    background-image: url(images/INDEX_01.GIF);
}
.sidebar{
    width: 167px;
    background-image: url(images/INDEX_10.GIF);
    vertical-align: top;
}
.right{
    width: 66px;
    background-image: url(images/INDEX_04.GIF);
}
.content{
    width: 517px;
    background-color: #dedeca;
    padding: 10px;
}
.footer{
    width: 750px;
    height: 47px;
    background-image: url(images/INDEX_11.GIF);
}
.content p{
    text-align: center;
    padding: 10px;
}
.menu img{
    margin: -3px 0px;
}
.content h2{
    text-align: center;
    padding: 10px;
}
.content h3{
    text-align: center;
    padding: 10px;
}